<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Meme generator</title>
		<style>
				.container {
				            display: flex;
				            justify-content: space-around;
				}
				
				table {
					border: 2px solid black;
					width: 500px;
				}
				
				th, td {
					border: 2px solid black;
					text-align: center;
				}
		</style>
	</head>
	<body>
		<div class="container">
			<div>
				<h1>ЗАПОЛНИТЕ ФОРМУ</h1>
				<form action="/user_choice" method="POST">
					Выберете название изображения: <select name="meme">
						<option value="adventurer">adventurer</option>
						<option value="avataaars">avataaars</option>
						<option value="adventurer-neutral">adventurer-neutral</option>
						<option value="pixel-art">pixel-art</option>
						<option value="big-ears">big-ears</option>
						<option value="fun-emoji">fun-emoji</option>
					</select><br />
					<button type="submit">ОТПРАВИТЬ</button>
				</form>
				<p th:style="'color:' + red" th:text="${message}"></p>
			</div>
			<div>
				<h1>History of 
					<span th:text="${persons_name}"></span> mems</h1>
				<table>
					<tr>
						<th>NAME</th>
						<th>LIKE</th>
					</tr>
					<tr th:each="m: ${mems}">
						<td th:text="${m.mem_name}"></td>
						<td th:text="${m.like_mem}"></td>
					</tr>
				</table>
			</div>
		<div class="container">
			<div>
				<a href="/main">ВЫЙТИ</a>
			</div>
	</body>
</html>